.hero {
	background-image: url(../img/beer-background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: transparent;
	font-family: 'Special Elite', cursive;
}

.parallax {
	opacity: 0.5;
}

.card {
	text-align: center;
<<<<<<< HEAD
	margin: auto;
}

.container #result-display {
	align-items: center;
	justify-items: center;
}
=======
	margin:auto;
  }
.container {
	background-image: ;
}
h1 {
	text-shadow: 2px 2px white;
  }
>>>>>>> 3c6c81591c98ce6e16c1f5575ed1f5e1c7136118
