.hero {
	background-image: url(../img/beer-background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #999;
	font-family: 'Special Elite', cursive;
}
.parallax {
    opacity: 0.5;
}
.card {
	text-align: center;
	margin:auto;
  }
