
.hero {
	background-image: url(../img/beer-background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: transparent;
	font-family: 'Special Elite', cursive;
}

.parallax {
	opacity: 0.5;
}

.card {
	text-align: center;

	margin: auto;
}

.container #result-display {
	align-items: center;
	justify-items: center;
	margin: auto;
  }
.container {
	background-image: ;
}
h1 {
	text-shadow: 2px 2px white;
  }
h2 {
	text-shadow: 2px 2px white;
  }