.hero {
	background-image: url(../img/beer-background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: transparent;
	font-family: 'Special Elite', cursive;
}
footer {
    height: 80px;
}
h1 {
	text-shadow: 2px 2px black;
  }



